body {
  font-family: Arial, sans-serif;
  padding: 10px;
}
form {
  display: flex;
  flex-direction: column;
}
.setting {
  margin-bottom: 10px;
}
button {
  margin-top: 10px;
}
label {
  margin-right: 10px;
}
input, select {
  margin-left: 10px;
  max-width: 200px;
  width: 100%;
}